<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itb.aplikasitoko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthApp"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".ui.load.LoadActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.itb.aplikasitoko.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.itb.aplikasitoko.ui.home.PrintStruk"
            android:exported="false" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.ScanDevice"
            android:exported="false" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.TransactionSuccessNotif"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.LaporanPendapatan"
            android:exported="false"
            android:parentActivityName=".ui.laporan.LaporanPendapatan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.kategori.MasterDaftarKategori"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.kategori.MasterDaftarKategori" />
        <activity
            android:name="com.itb.aplikasitoko.HomePage"
            android:exported="false"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.TambahkanProduk"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.ScanBarcode"
            android:exported="false" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.ScanScreen"
            android:exported="false" />
        <activity
            android:name="com.itb.aplikasitoko.InformasiBisnis"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.OTPVerification"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.TelpVerification"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AuthApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itb.aplikasitoko.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.itb.aplikasitoko.UserRegister"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.satuan.MasterSatuan"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.satuan.MasterSatuan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pelanggan.MasterPelanggan"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pelanggan.MasterPelanggan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pelanggan.TambahPelanggan"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pelanggan.MasterPelanggan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pelanggan.EditPelanggan"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pelanggan.MasterPelanggan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pegawai.MasterPegawai"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pegawai.MasterPegawai" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pegawai.EditPegawai"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pegawai.MasterPegawai" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pegawai.TambahPegawai"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.pegawai.MasterPegawai" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.pegawai.LoginPegawai"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.produk.MasterProduk"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.produk.MasterProduk" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.produk.TambahProduk"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.produk.MasterProduk" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.produk.EditProduk"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.produk.MasterProduk" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.bottom_nav.PelangganOrder"
            android:exported="false"
            android:parentActivityName=".ui.home.bottom_nav.PelangganOrder" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.bottom_nav.shopping.ShoppingCart"
            android:exported="false"
            android:parentActivityName=".ui.home.bottom_nav.shopping.ShoppingCart" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.bottom_nav.shopping.Payment"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.home.bottom_nav.shopping.TransactionSuccess"
            android:theme="@style/Theme.AuthApp.NoActionBar" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.LaporanPenjualan"
            android:exported="false"
            android:parentActivityName=".ui.laporan.LaporanPenjualan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.RekapBarang"
            android:exported="false"
            android:parentActivityName=".ui.laporan.RekapBarang" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.RekapKategori"
            android:exported="false"
            android:parentActivityName=".ui.laporan.RekapKategori" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.RekapPegawai"
            android:exported="false"
            android:parentActivityName=".ui.laporan.RekapPegawai" />
        <activity
            android:name="com.itb.aplikasitoko.ui.laporan.RekapPelanggan"
            android:exported="false"
            android:parentActivityName=".ui.laporan.RekapPelanggan" />
        <activity
            android:name="com.itb.aplikasitoko.ui.pengaturan.toko.IdentitasToko"
            android:exported="false"
            android:parentActivityName="com.itb.aplikasitoko.ui.pengaturan.toko.IdentitasToko" />
    </application>

</manifest>